.image_cards{
    margin: 10px;
}
.main_banner{
    background-image: url(./giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
   height: auto;
   }
   a:link {
    color: grey;
  }
  
  /* visited link */
  a:visited {
    color: blue;
  }
  
  /* mouse over link */
  a:hover {
    color: lightcoral;
  }
  
  /* selected link */
  a:active {
    color: orange;